@import "tailwindcss";

@theme {
    --font-sans: "IBM Plex Sans", sans-serif;
}

.at--custom-hover-effect a {
    transition: opacity 300ms;
}

.at--custom-hover-effect:has(a:hover) a:not(:hover) {
    opacity: 0.5;
}

.at--custom-footer-hover-effect div:has(a) {
    transition: opacity 300ms;
}

.at--custom-footer-hover-effect:has(div:hover) div:not(:hover) {
    opacity: 0.5;
}

.at--custom-link {
    @apply relative;
}

.at--custom-link::after {
    @apply absolute bottom-0 left-0 -z-10 block h-2.5 w-full bg-yellow-300/50 transition-all duration-300;
    content: "";
}

.at--custom-link:hover::after {
    @apply h-full bg-yellow-300;
}
