@import "tailwindcss";

@theme {
    --font-sans: "IBM Plex Sans", sans-serif;
}

.at--custom-hover-effect a {
    transition: opacity 300ms;
}

.at--custom-hover-effect:has(a:hover) a:not(:hover) {
    opacity: 0.5;
}

.at--custom-footer-hover-effect div:has(a) {
    transition: opacity 300ms;
}

.at--custom-footer-hover-effect:has(div:hover) div:not(:hover) {
    opacity: 0.5;
}

.at--custom-link {
    background-image: linear-gradient(
        color-mix(in oklab, var(--color-yellow-300) 50%, transparent),
        color-mix(in oklab, var(--color-yellow-300) 50%, transparent)
    );
    background-size: 100% calc(var(--spacing) * 2.5);
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms ease;
}

.at--custom-link:hover,
.group:has(.at--custom-link):is(:hover) .at--custom-link {
    background-size: 100% 100%;
}
